{% extends 'layout/layout.html.twig' %}

{% block title %}
    {% trans %}Add Free Days{% endtrans %}
{% endblock %}

{% block content %}
    <div id="page-wrapper" style=" min-height: 1043px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <h2>Add Free Days</h2>
                    <hr class="colorgraph">
                    <form action="{{ path('add_free_days') }}" method="post">
                        <div class="form-group">
                            <div class='input-group name' id='datetimename' style="width: 455px;">
                                <input type='text' id="name" class="form-control" name="_name" required
                                       placeholder="Name of Free Day"/>
                            </div>
                        </div>
                        <div class="form-group" style="width: 455px;">
                            <div class='input-group date' id='datetimepicker5'>
                                <input type='text' id="date" class="form-control" name="_date" required/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                            </div>
                        </div>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="8">Save
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Actions</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for freeDay in freeDaysAll %}
                                    <tr>
                                        <td>{{ freeDay['title'] }}</td>
                                        <td>{{ freeDay['start'] }}</td>
                                        <td>
                                            <a href="/deleteFreeDay/">
                                                <i type="button" data-id=""
                                                   class="btn btn-sm btn-success btn-danger">Delete
                                                </i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var array = '{{ freeDays|raw }}';
    </script>
    <script type="text/javascript" src="{{ asset('build/freeDays.js') }}"></script>

{% endblock %}



